/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

body {
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.container {
  margin: auto;
  width: 50%;
}

img .fondo{
    min-height: 100%;
    min-width: 1024px;
    
    width: 100%;
    height: auto;
    
    position: fixed;
    top: 0;
    left: 0;
}

.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.background-default{
  background-image: url('../images/backgrounds/default.jpg');
}

.background-clear-sky-day{
  background-image: url('../images/backgrounds/clear-sky-day.jpg');
}

.background-clear-sky-night{
  background-image: url('../images/backgrounds/clear-sky-night.jpg');
}

.background-few-clouds-day{
  background-image: url('../images/backgrounds/few-clouds-day.jpg');
}

.background-few-clouds-night{
  background-image: url('../images/backgrounds/few-clouds-night.jpg');
}

.background-scattered-clouds-day{
  background-image: url('../images/backgrounds/scattered-clouds-day.jpg');
}

.background-scattered-clouds-night{
  background-image: url('../images/backgrounds/scattered-clouds-night.jpg');
}

.background-broken-clouds-day{
  background-image: url('../images/backgrounds/broken-clouds-day.jpg');
}

.background-broken-clouds-night{
  background-image: url('../images/backgrounds/broken-clouds-night.jpg');
}

.background-shower-rain-day{
  background-image: url('../images/backgrounds/shower-rain-day.jpg');
}

.background-shower-rain-night{
  background-image: url('../images/backgrounds/shower-rain-night.jpg');
}

.background-rain-day{
  background-image: url('../images/backgrounds/rain-day.jpg');
}

.background-rain-night{
  background-image: url('../images/backgrounds/rain-night.jpg');
}

.background-thunderstorm-day{
  background-image: url('../images/backgrounds/thunderstorn-day.jpg');
}

.background-thunderstorm-night{
  background-image: url('../images/backgrounds/thunderstorn-night.jpg');
}

.background-snow-day{
  background-image: url('../images/backgrounds/snow-day.jpg');
}

.background-snow-night{
  background-image: url('../images/backgrounds/snow-night.jpg');
}

.background-mist-day{
  background-image: url('../images/backgrounds/mist-day.jpg');
}

.background-mist-night{
  background-image: url('../images/backgrounds/mist-night.jpg');
}

.icono {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.panel-tarjetas {

}

.tarjeta {
  margin: auto;
  margin-top: 2%;
  width: 100%;
  border-radius: 15px;
  color: black;
  background-color: white;
  opacity: 0.7;
}

.tarjeta-clima{
  margin: auto;
  opacity: 1;
  border-radius: 15px;
}

.tarjeta-clima .icon img{
  width: 20%;
  height: 90%;
}

.tarjeta-mapa{
  margin: auto;
  border-radius: 15px;
}

.extra-value p{
  padding-left: 20%;
}

.tarjeta-buscar {
  opacity: 0.7;
  border-radius: 15px;
}

